<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1.0">
    <title>Zimbra Collaboration Suite</title>
	<welcome file="Welcome.txt"></welcome>
	<license file="License.txt"></license>
	<conclusion file="Conclusion.txt"></conclusion>
	<options allow-external-scripts="yes" customize="allow" rootVolumeOnly="true"></options>
	<installation-check script="installationCheckZimbra()"></installation-check>
  <volume-check script="volume_check()"></volume-check>
  <script>
function volume_check() {
  var result = true;
  var minimum = 5*1024*1024*1024;

  if(my.target.availableKilobytes &lt; minimum) {
    my.result.type = 'Fatal';
    my.result.title = '';
    my.result.message = 'ZCS requires at least 5GB of space to install.';
    result = false;
  }
  return result;
}
function installationCheckZimbra() {
	if (system.runOnce('InstallationCheck')) {
		my.result.title = 'InstallationCheck';
		my.result.message = 'Installation Check failed';
		my.result.type = 'WARNING';
		return false;
	}
	return true;
}
</script>
    <choices-outline>
        <line choice="choice3"></line>
        <line choice="choice5"></line>
        <line choice="choice12"></line>
        <line choice="choice7"></line>
        <line choice="choice10"></line>
        <line choice="choice11"></line>
        <line choice="choice6"></line>
        <line choice="choice13"></line>
    </choices-outline>
    <choice id="choice3" title="Core Utilities" start_selected="true" start_enabled="false" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.core"></pkg-ref>
    </choice>
    <choice id="choice5" title="Ldap" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.ldap"></pkg-ref>
    </choice>
    <choice id="choice12" title="Mailbox" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.store"></pkg-ref>
    </choice>
    <choice id="choice7" title="Mta" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.mta"></pkg-ref>
    </choice>
    <choice id="choice13" title="Proxy" start_selected="false" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.proxy"></pkg-ref>
    </choice>
    <choice id="choice10" title="Spell" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.apache"></pkg-ref>
        <pkg-ref id="com.zimbra.zcs.spell"></pkg-ref>
    </choice>
    <choice id="choice11" title="Snmp" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.snmp"></pkg-ref>
    </choice>
    <choice id="choice6" title="Logger" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="com.zimbra.zcs.logger"></pkg-ref>
    </choice>
    <pkg-ref id="com.zimbra.zcs.core" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@CORESIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-core.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.ldap" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@LDAPSIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-ldap.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.store" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@STORESIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-store.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.mta" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@MTASIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-mta.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.proxy" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@PROXYSIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-proxy.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.apache" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@APACHESIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-apache.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.spell" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@SPELLSIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-spell.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.snmp" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@SNMPSIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-snmp.pkg</pkg-ref>
    <pkg-ref id="com.zimbra.zcs.logger" version="@@MAJOR@@.@@MINOR@@" installKBytes="@@LOGGERSIZE@@" auth="Admin" onConclusion="None">file:./Contents/.Packages/zimbra-logger.pkg</pkg-ref>
</installer-gui-script>
