<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionTitle</key>
	<string>zimbra-snmp @@VERSION@@</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Zimbra snmp utilities</string>
</dict>
</plist>
